# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
aiodns=2.0.0=pypi_0
aiohttp=3.7.4.post0=pypi_0
aiohttp-socks=0.6.0=pypi_0
appnope=0.1.2=pypi_0
argon2-cffi=20.1.0=pypi_0
async-generator=1.10=pypi_0
async-timeout=3.0.1=pypi_0
attrs=20.3.0=pypi_0
backcall=0.2.0=pypi_0
beautifulsoup4=4.9.3=pypi_0
billiard=3.6.4.0=pypi_0
bleach=3.3.0=pypi_0
blinker=1.4=py_1
brotlipy=0.7.0=py39h46acfd9_1001
bs4=0.0.1=pypi_0
ca-certificates=2020.12.5=h4653dfc_0
cchardet=2.1.7=pypi_0
certifi=2020.12.5=py39h2804cbe_1
cffi=1.14.5=py39h702c04f_0
chardet=4.0.0=py39h2804cbe_1
coala-utils=0.5.1=pypi_0
cryptography=3.4.7=py39h73257c9_0
cycler=0.10.0=py_2
decorator=5.0.7=pypi_0
defusedxml=0.7.1=pypi_0
elasticsearch=7.12.1=pypi_0
entrypoints=0.3=pypi_0
fake-useragent=0.1.11=pypi_0
freetype=2.10.4=h17b34a0_1
future=0.18.2=py39h2804cbe_3
geographiclib=1.50=pypi_0
geopy=2.1.0=pypi_0
googletransx=2.4.2=pypi_0
idna=2.10=pyh9f0ad1d_0
ipykernel=5.5.3=pypi_0
ipython=7.23.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=7.6.3=pypi_0
jedi=0.18.0=pypi_0
jinja2=2.11.3=pypi_0
joblib=1.0.1=pyhd8ed1ab_0
jpeg=9d=h27ca646_0
jsonschema=3.2.0=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=6.1.12=pypi_0
jupyter-console=6.4.0=pypi_0
jupyter-core=4.7.1=pypi_0
jupyterlab-pygments=0.1.2=pypi_0
jupyterlab-widgets=1.0.0=pypi_0
kiwisolver=1.3.1=py39h5a63225_1
lcms2=2.12=had6a04f_0
libblas=3.9.0=8_openblas
libcblas=3.9.0=8_openblas
libcxx=11.1.0=h168391b_0
libffi=3.3=h9f76cd9_2
libgfortran=5.0.0.dev0=11_0_1_hf114ba7_22
libgfortran5=11.0.1.dev0=hf114ba7_22
liblapack=3.9.0=8_openblas
libopenblas=0.3.12=openmp_h2ecc587_1
libpng=1.6.37=hf7e6567_2
libtiff=4.2.0=hcbb2f27_1
libwebp-base=1.2.0=h27ca646_2
llvm-openmp=11.1.0=hf3c4609_1
lxml=4.6.3=pypi_0
lz4-c=1.9.3=h9f76cd9_0
markupsafe=1.1.1=pypi_0
matplotlib=3.4.2=py39hdf13c20_0
matplotlib-base=3.4.2=py39h5aa4fe7_0
matplotlib-inline=0.1.2=pypi_0
mistune=0.8.4=pypi_0
multidict=5.1.0=pypi_0
nbclient=0.5.3=pypi_0
nbconvert=6.0.7=pypi_0
nbformat=5.1.3=pypi_0
ncurses=6.2=h9aa5885_4
nest-asyncio=1.5.1=pypi_0
notebook=6.3.0=pypi_0
numpy=1.20.2=py39h1f3b974_0
oauthlib=3.0.1=py_0
olefile=0.46=pyh9f0ad1d_1
openjpeg=2.4.0=hfb99f25_0
openssl=1.1.1k=h27ca646_0
packaging=20.9=pypi_0
pandas=1.2.4=pypi_0
pandocfilters=1.4.3=pypi_0
parso=0.8.2=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=8.1.2=py39h282ff46_1
pip=21.1.1=pyhd8ed1ab_0
prometheus-client=0.10.1=pypi_0
prompt-toolkit=3.0.18=pypi_0
ptyprocess=0.7.0=pypi_0
pycares=3.1.1=pypi_0
pycparser=2.20=pyh9f0ad1d_2
pygments=2.8.1=pypi_0
pyjwt=2.1.0=pyhd8ed1ab_0
pyopenssl=20.0.1=pyhd8ed1ab_0
pyparsing=2.4.7=pyh9f0ad1d_0
pyrsistent=0.17.3=pypi_0
pysocks=1.7.1=py39h2804cbe_3
python=3.9.2=hcbd9b3a_0_cpython
python-dateutil=2.8.1=py_0
python-socks=1.2.4=pypi_0
python-twitter=3.5=py_0
python_abi=3.9=1_cp39
pytz=2021.1=pypi_0
pyzmq=22.0.3=pypi_0
qtconsole=5.1.0=pypi_0
qtpy=1.9.0=pypi_0
readline=8.1=hedafd6a_0
requests=2.25.1=pyhd3deb0d_0
requests-oauthlib=1.3.0=pyh9f0ad1d_0
schedule=1.1.0=pypi_0
scikit-learn=0.24.2=py39hab69601_0
scipy=1.6.3=py39h5060c3b_0
send2trash=1.5.0=pypi_0
setuptools=49.6.0=py39h2804cbe_3
six=1.15.0=pypi_0
soupsieve=2.2.1=pypi_0
sqlite=3.35.5=hc49ca36_0
terminado=0.9.4=pypi_0
testpath=0.4.4=pypi_0
threadpoolctl=2.1.0=pyh5ca1d4c_0
tk=8.6.10=hf7e6567_1
tornado=6.1=py39h46acfd9_1
traitlets=5.0.5=pypi_0
twint=2.1.20=pypi_0
twitterscraper=1.6.1=pypi_0
typing-extensions=3.10.0.0=pypi_0
tzdata=2021a=he74cb21_0
urllib3=1.26.4=pyhd8ed1ab_0
vadersentiment=3.3.2=pypi_0
wcwidth=0.2.5=pypi_0
webencodings=0.5.1=pypi_0
wheel=0.36.2=pyhd3deb0d_0
widgetsnbextension=3.5.1=pypi_0
xz=5.2.5=h642e427_1
yarl=1.6.3=pypi_0
zlib=1.2.11=h31e879b_1009
zstd=1.4.9=h5b28eab_0
